[default]
# Source Database / Общая БД 
DB_SOURCE_HOST="rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net"
DB_SOURCE_PORT = "6432"
DB_SOURCE_NAME="playground_common"
DB_SOURCE_USER="mle_ro"
DB_SOURCE_PASSWORD="HI&ykgu6tj"

# Destination Database / Личная БД
DB_DESTINATION_HOST="rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net"
DB_DESTINATION_PORT= "6432"
DB_DESTINATION_NAME="playground_mle_20240729_6881d36768"
DB_DESTINATION_USER="mle_20240729_6881d36768"
DB_DESTINATION_PASSWORD="8cafbb49e5d84363828cda27e88b75e4"

# S3 Connection / Соединение с S3
S3_BUCKET_NAME="s3-student-mle-20240729-6881d36768"
AWS_ACCESS_KEY_ID="YCAJEryDs7iScbshPQ7BaUhes"
AWS_SECRET_ACCESS_KEY="YCMl4tpgidAdLCoZRZ1lURSmOpgRQ12KhwO_tJkr"